// importing from utilities
@import "variables";


//importing from macro
@import "login.scss";

*{
    margin: 0;
    padding: 0;
}

.test-content{
    border: #000;
    border-radius: 30%;
    color: $primary-color;
    font-family: $fonts;
    background-color: #000;
}