@charset "UTF-8";
.menu {
  height: 20px;
  background-color: white;
  border-bottom: 1px solid #222c3c; }

.bottom-row {
  padding-top: 10px;
  padding-bottom: -5px; }

.menu-items {
  padding: 1px;
  color: black;
  cursor: pointer;
  text-decoration: none; }

.logo {
  cursor: pointer; }
  .logo-items {
    min-height: 100%;
    padding: 10px 25px;
    text-decoration: none;
    border: none;
    color: black; }

.search-bar input[type=text] {
  width: 70%;
  height: 35px;
  border: 1px solid #222c3c;
  border-radius: 10px 0px 0px 10px;
  float: left; }

.search-bar button {
  width: 5%;
  height: 35px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: #dd3b12;
  color: white;
  box-sizing: border-box;
  overflow: visible; }

.cart {
  padding-left: 10px;
  font-size: 25px; }

.menu-items:hover {
  text-decoration: none;
  color: #dd3b12; }

.login-section {
  width: 450px;
  height: 270px;
  padding: 30px;
  border-radius: 15%; }

.post-list {
  background-color: blue; }

.category {
  padding-top: 1px;
  width: 100%;
  height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  background-color: #222c3c; }
  .category-items {
    height: 100%;
    padding: 2px 35px;
    text-decoration: none;
    color: white; }

.category-items:hover {
  color: #dd3b12; }

.posts {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  grid-gap: 2px; }
  .posts .posts-wrapper {
    color: black;
    width: 90%;
    height: 100%;
    overflow: hidden; }
    .posts .posts-wrapper img {
      width: 100%;
      height: 70%;
      object-fit: cover; }
  .posts .post-description {
    padding: 10px;
    border: 1px solid black;
    border-top: 0; }
    .posts .post-description .title {
      text-decoration: none;
      color: black; }
    .posts .post-description .title:hover {
      opacity: 0.9; }

.detail {
  margin-left: 30px; }

.detail-user-ratings {
  margin-left: 30px;
  padding: 10px; }

.detail-posts-wrapper {
  padding: 10px;
  width: 95%;
  height: 70%;
  border: 2px solid #dd3b12; }
  .detail-posts-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.user-reviews {
  color: black;
  border-bottom: 1px solid #222c3c; }

.ratingStars {
  height: auto;
  padding: 3px 15px; }

.ratingStars:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.ratingStars:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; }

.ratingStars:not(:checked) > label:before {
  content: '★ '; }

.ratingStars > input:checked ~ label,
.ratingStars:not(:checked) > label:hover ~ label {
  color: #deb217; }

.ratingStars > input:checked + label:hover,
.ratingStars > input:checked + label:hover ~ label,
.ratingStars > input:checked ~ label:hover,
.ratingStars > input:checked ~ label:hover ~ label,
.ratingStars > label:hover ~ input:checked ~ label {
  color: #c59b08; }

.fa-star {
  color: #FFB656; }

.fa-star.empty {
  color: #DADADA; }

.user-ratings-form {
  display: flex;
  flex-direction: row;
  border: 1px groove #222c3c; }

.register-wrapper {
  display: flex;
  flex-direction: row; }

.register-banner {
  width: 70%;
  min-height: 70%;
  float: right; }

.register-form {
  margin-top: 80px;
  padding: 15px;
  width: 30%;
  height: 10%;
  border: 0.5px solid #184388;
  float: left; }

* {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=main.css.map */