.menu{
    height: 20px;
    background-color: $background-color;
    border-bottom: 1px solid $primary-color;    

}

.bottom-row{
    padding-top: 10px;
    padding-bottom: -5px;
}

.menu-items{
    padding: 1px;
    color: $font-color;
    cursor:pointer;
    text-decoration: none;
    
}


.logo{
    cursor: pointer;

    &-items{
        min-height: 100%;
        padding: 10px 25px;
        text-decoration: none;
        border: none;
        color: black;
    }
}



.search-bar{

    input[type=text]{
        width:70%;
        height: 35px;
        border: 1px solid $primary-color;
        border-radius: 10px 0px 0px 10px;
        float: left;
    }

    button{
        width: 5%;
        height: 35px;
        border: none;
        border-radius: 0px 10px 10px 0px;
        background-color: $secondary-color;
        color:white;    
        box-sizing: border-box;
        overflow: visible;
    }
}

.cart{
    padding-left:10px;
    font-size: 25px;
}

.menu-items:hover{
    text-decoration: none;
    color: $secondary-color;
    
}