{% extends 'index.html' %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 category">
            <ul>
                {% for cat in categories %}
                    {% if not cat.children.all %}
                        <a class="category-items" href="{% url 'posts:category' cat.id%}">{{cat.name}}</a>
                    {% else %}
                    <a class="category-items" href="{% url 'posts:category' cat.id%}">{{cat.name}}</a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        
<div class="col-12">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{message}}</div>
        {% endfor %}
    {% endif %}
</div>
{% if user.is_authenticated %}
<div style="margin: 10px 0;">
    <a href="{% url 'posts:recommend' %}">For You</a>
</div>
{% endif %}

        
<br>
<!-- Post Gird Start -->
<div class="posts">
    {% for post in page_obj %}    
        <div class="posts-contents">
            <div class="posts-wrapper">
                <a href="{% url 'posts:post-detail' post.id %}"><img src="{{post.image.url}}" alt="{{post.title}}"></a>
                <div class="post-description">
                    <h6><a  class="title" href="{% url 'posts:post-detail' post.id %}">{{post.title}} </a></h6>
                    <h6><strong>Rs. {{post.price}}</strong></h6>
                    {% if user.is_authenticated %}
                        {% if post in user.profile.product.all %}
                            <div class="d-flex justify-content-between align"><span> You own this </span><a href="{{post.image.url}}" download><button class="btn btn-outline-secondary btn-lg">Download</button></a></div>
                        {% elif post in current_order_products %}
                            <a href="{% url 'cart:order-summary'%}"><button class="btn-primary btn btn-lg">Go to Cart</button></a>
                        {% else %}
                            <a href="{% url 'cart:add-to-cart' post.id %}"><button class="btn btn-primary btn-lg">Add to Cart</button></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>    
        </div>
    {% endfor %}
</div>
</div>
</div>

{% include 'pagination.html' %}
{% include "footer.html" %}
{% endblock %}