{% extends 'index.html' %}

{% block content %}
{% include 'nav-bar.html' %}

<ul>
     <h2>Category</h2>
    {% for cat in categories %}
        {% if not cat.children.all %}
            <a href="{% url 'posts:category' cat.id%}">{{cat.name}}</a>
        {% else %}
        <a href="{% url 'posts:category' cat.id%}">{{cat.name}}</a>
        {% endif %}
    {% endfor %}
</ul>

{% for post in posts %}
    <div class="posts-contents">
        <h1>{{post.title}}</h1>
        <p><a href="{% url 'posts:post-detail' post.id %}"><img src="{{post.image.url}}" alt="{{post.title}}"></a></p>
        <p>By <a href="{% url 'posts:profile' post.user.id %}">{{post.user}}</a> on {{post.date|date:"F d, Y"}}</p>
    </div>
{% endfor %}

{% if is_paginated %}
    <!-- {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page_obj.next_page_number">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %} -->


    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}  
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        {% endif %}  

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item"><a class="page-link" href="?page={{num}}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}    
                <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
            {% endif %}
        {% endfor %}    

        {% if page_obj.has_next %}  
        <li class="page-item">
            <a class="page-link" href="?={{page_obj.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">»</span>
              <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
        </ul>
      </nav>
{% endif %}

{% endblock %}