{% extends "index.html" %}

{% block content %}


<div class="container">
  <h4>Order Summary</h4>

<table class="table container">
 
    <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Products</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.get_cart_items %}  
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{item.product.title}}</td>
        <td>{{item.product.price}}</td>
      </tr>
      {% empty %}
      <tr>
        <td>You have no Items Here</td>
      </tr>
      {% endfor %}
      <tr>
      {% if order.get_cart_total != None %}
          <td>
            <strong>Order Total:</strong>
          </td>
          <td>
            {{order.get_cart_total}}
          </td>
      {% endif %}
        </tr>
      </tbody> 
      
  </table>
  <form action="{% url 'cart:checkout-process' order.id %}" method="POST" class=" d-flex justify-content-end" style="margin-top:20px;">
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-lg">Checkout</button>
  </form>
</div>

{% endblock %}
