{% extends "index.html" %}

{% block content %}

<div class="col-12">
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{message}}</div>
      {% endfor %}
  {% endif %}
</div>

<table class="table container">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Products</th>
        <th scope="col">Price</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.get_cart_items %}  
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{item.product.title}}</td>
        <td>{{item.product.price}}</td>
        <td><a href="{% url 'cart:delete-from-cart' item.id %}" onclick="return confirm_delete()"><i class="bi bi-trash"></i></a></td>
      </tr>
      {% empty %}
      <tr>
        <td>You have no Items Here</td>
      </tr>
      {% endfor %}
      <tr>
      {% if order.get_cart_total != None %}
          <td>
            <strong>Order Total:</strong>
          </td>
          <td>
            {{order.get_cart_total}}
          </td>
      {% endif %}
        </tr>
      
      </tbody> 
     
  </table>

  <div class="container d-flex justify-content-end" style="margin-top:20px;">
    {% if order.get_cart_items %}
      <a href="{% url 'cart:checkout' %}"><button class="btn btn-success btn-lg">Proceed to Checkout</button></a>
    {% endif %}
  </div>

{% endblock %}

{% block scripts %}
  <script>
    function confirm_delete(){
      return confirm("Do you want to remove this product from cart?");
    }
  </script>
{% endblock %}