{% extends 'index.html' %}

{% block content %}

<div class="col-md-8">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{message}}</div>
    {% endfor %}
  {% endif %}
</div>

<div class="login-section">
  <form method="post" class="form-inline">
    {% csrf_token %}
    <div class="form-group">
      <label for="formGroupExampleInput">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Username">
    </div><br>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div><br>

    <!-- {{form}} -->
    <input type="submit" value="Login" class="btn btn-outline-primary">
  </form>
  <a href="{% url 'users:register' %}">Sign Up</a>
</div>

{% endblock %}