{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load socialaccount %}

<div class="col-md-8">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{message}}</div>
    {% endfor %}
  {% endif %}
</div>

<div class="login-section">
  <form method="post" class="form-inline">
      {% csrf_token %}

      {{form|crispy}}
      <br>
    <!-- {{form}} -->
    <input type="submit" value="Login" class="btn btn-outline-primary">
    <a href="{% provider_login_url "google" %}">Google</a>
    <a href="{% url 'users:register' %}">Sign Up</a>
  </form>
</div>

{% endblock %}